<ion-tabs>
  <ion-tab-bar slot="bottom" class="kraak-tab-bar">
    <ion-tab-button tab="accueil" class="kraak-tab-button">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="programmes" class="kraak-tab-button">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Programmes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="annonces" class="kraak-tab-button">
      <ion-icon name="megaphone-outline"></ion-icon>
      <ion-label>Annonces</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="support" class="kraak-tab-button">
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label>Support</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
